HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
./frontend/node_modules

/node_modules
test.js
coverage/
npm-debug.log
yarn-error.log
.pnpm-debug.log
.DS_Store
tmp/
debug/
jsdoc/
versions.json
.eslintcache
.cache
/packages/**/node_modules
/tools/internal-rules/node_modules
/.vscode
.sublimelinterrc
.eslint-release-info.json
.nyc_output
/test-results.xml
.temp-eslintcache
/tests/fixtures/autofix-integration/temp.js
yarn.lock
package-lock.json
pnpm-lock.yaml
