<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">com.mysql.jdbc.Driver
        </property>
        <property name="connection.url">jdbc:mysql://localhost:3360/takenote</property>
        <property name="connection.username">admin</property>
        <property name="connection.password">Farimaz58.</property>

        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="show_sql">true</property>
        <property name="hbm2ddl.auto">create</property>
        <mapping class="com.lasiyyema.takenote.entities.Note" />
        <mapping class="com.lasiyyema.takenote.entities.NoteMapBook" />
        <mapping class="com.lasiyyema.takenote.entities.NoteMapCategory" />
        <mapping class="com.lasiyyema.takenote.entities.Category" />
        <mapping class="com.lasiyyema.takenote.entities.Book" />

    </session-factory>
</hibernate-configuration>